* {
    -fx-font-family: TicTacToe;
}

AnchorPane {
    -fx-background-color: white;
}

.btn {
    -fx-padding: 6px;
    -fx-border-width: 1px;
    -fx-font-size: 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 6px;
    -fx-border-insets: 0px;
    -fx-background-insets: 0px;
}

.btn:hover {
    -fx-cursor: hand;
}

.btn.big {
    -fx-padding: 10px;
    -fx-font-size: 35px;
}

.btn.red {
    -fx-background-color: #e74c3c;
    -fx-border-color: #c0392b;
    -fx-text-fill: white;
}

.btn.red:hover {
    -fx-background-color: #c0392b;
}

.btn.blue {
    -fx-background-color: #3498db;
    -fx-border-color: #2980b9;
    -fx-text-fill: white;
}

.btn.blue:hover {
    -fx-background-color: #2980b9;
}